.Trash*
src
scripts
test
tsconfig.json
tsconfig.module.json
tslint.json
.idea
.yarn.lock
.travis.yml
.editorconfig
.github
.prettierrc
docker-compose.yaml
Dockerfile
Makefile
.prettierignore
.gitignore
.vscode
config
build/docs
**/*.spec.*
coverage
.nyc_output
*.log
